.playerStatCard {
  background-color: yellow;
  display: flex;
  flex-direction: column;
}

.topPanel {
  display: flex;
  flex-direction: row;
}

.bgImageProfile {
  height: 150px;
  width: 200px;
  border-radius: 6%;
}
.chartProfile {
  height: 15vh;
  max-height: 200px;
  width: 40vw;
  max-width: 500px;
  border-radius: 6%;
}
.playerImageProfile {
  height: 60%;
  width: 40%;
  position: relative;
  top: 40%;
  left: 2%;
}

.blackCover {
  height: 100%;
  width: 100%;
  border-radius: 6%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
}
.profileName {
  padding-top: 2%;
  margin: 0 2%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  text-align: start;
  line-height: 2.5rem;
}
.lastName {
  font-size: 3rem;
  color: red;
  font-weight: 800;
}

.removeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 25px;
  line-height: 30px;
  background-color: transparent;
  color: black;
  border-radius: 50%;
}

.bottomPanel {
  padding-top: 2%;
  flex-grow: 0.9;
}

.accordionDiv {
  width: 100%;
  margin: 0 auto;
}

/* Individual Accordion */
.accordionItem {
  margin-bottom: 10px;
}

.accordionSummary {
  font-weight: bold;
  background-color: #f5f5f5;
}

.buttonContainer {
  display: flex;
  justify-content: space-around; /* Equal spacing */
  margin-bottom: 16px;
  gap: 2px;
}

/* Style for inline buttons (acting like text) */
.inlineButton {
  flex-grow: 0.3;
  display: inline-block; /* Makes the button behave like inline text */
  padding: 8px 16px;
  border: 2px solid transparent;
  border-radius: 20px;
  text-transform: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  margin: 0 8px;
  text-align: center;
  background-color: transparent; /* No background color */
}

/* Style when selected */
.selectedButton {
  border-color: #3f51b5; /* Border color when selected */
  color: #3f51b5; /* Text color when selected */
  font-weight: bold;
}

/* Style when not selected */
.deselectedButton {
  color: #757575; /* Color for unselected state */
}

/* For mobile responsiveness, ensure buttons fit in smaller spaces */
@media (max-width: 600px) {
  .buttonContainer {
    gap: 2px;
    flex-direction: column; /* Stack buttons vertically on small screens */
    align-items: center;
  }
  .inlineButton {
    width: 100%;
    text-align: center;
  }
}

.tabHeader nav {
  padding: 0;
}
