.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container .match-card {
  position: relative;
  /* min-width: 18vw;
  height: auto; */
  width: 300px;
  height: 180px;
  background: rgba(223, 223, 223, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  margin: 12px;
  padding: 2px 15px 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
  color: var(--text);
  overflow-x: hidden;
}

.container .match-card:hover {
  transform: scale(1.1, 1.1);
  z-index: 2;
}

.container .match-card .match-type {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text);
  text-align: left;
  align-self: flex-start;
  margin-bottom: 10px;
}

.container .match-card .logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.container .match-card .logos .team-logo {
  width: 60px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #fff;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.container .match-card .logos .vs {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--red);
}

.container .match-card .match-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1px;
}

.match-details p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--text);
  display: flex;
  align-items: center;
}

.match-details .icon {
  margin-right: 8px;
  font-size: 1rem;
  color: #888;
}

.team-name {
  margin-top: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  color: var(--text);
}
