.cardStackContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.progressBarWrapper {
  width: 45vw;
  max-width: 375px;
  margin: 2em auto;
  margin-bottom: -2em;
  position: relative;
}

.barmarkerContainer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  color: #fcf8f8;
}

.barmarker {
  width: 100%;
  display: grid;
  place-content: center;
}

.progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  margin-top: 5px;
}

progress {
  color: transparent;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.progress::-webkit-progress-bar {
  background-color: #d9d9d9;
  border-radius: 10px;
}

.progress::-webkit-progress-value {
  background-color: #f44f52;
  border-radius: 10px;
}

.progress::after {
  content: attr(value) "%";
  position: absolute;
  width: 56px;
  top: 53%;
  left: 50%;
  margin-left: -28px;
  font-weight: bold;
}

.cardContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cardStack {
  justify-content: center;
  position: absolute;
  top: 50px;
  width: 45vw;
  min-width: 400px;
  max-width: 375px;
  height: 600px;
  border-radius: 15px;
  padding: 1em;
  background-color: white;
  transition: transform 0.5s ease, scale 0.5s ease;
  color: black;
  display: flex;
  flex-direction: column;
}

.calenderMatchCardWrapper {
  padding: 0;
  scroll-behavior: smooth;
  overflow: scroll;
  width: 100%;
}
.calender {
  position: absolute;
  top: 0;
  background-color: #fff;
  z-index: 1;
  margin: 0.2em;
}
.calender h3 {
  color: black;
  padding: 0;
  font-size: 2rem;
  margin: 0 auto;
}

.matchCardList {
  margin: 0;
  margin-top: 120px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.matchCardList .matchCard {
  margin: 0;
  background-color: black;
}

.matchCardList::-webkit-scrollbar {
  display: none;
}

.fullscreenBackground {
  background-image: url("../assets/matches/bgimage.webp");

  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
.backgroundCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.4); */
  pointer-events: none;
}

.customMatchBtn {
  background-color: rgb(232, 240, 219);
  width: 60%;
  font-size: 1rem;
  margin: 10px auto;
  border: 0.2px solid green;
}

.matchCardListWrapper {
  width: 100%;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Ensures the button is above the match cards */
  align-items: flex-start;

  gap: 10px; /* Adjust gap between the button and match cards */
}

.customMatchDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
