.descriptionCard {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 34%;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.bgBlur {
  backdrop-filter: blur(10px);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  font-family: 'Poppins';
}
.cardHeader p {
  margin-left: 2%;
  font-size: 1.5rem;
  color: white;
}
.iconButton {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  padding: 10px;
}

.iconButton:hover {
  color: lightgray;
}

.buttonRow {
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 2%;
  width: 90%;
}

.actionButton {
  /* background: transparent; */
  background-color: rgba(255, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.actionButton:hover {
  color: lightblue;
}

.infoSection {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
  height: 15vh;
  overflow: hidden;
}

.expanded {
  max-height: 50vh;
  overflow: scroll;
  height: auto;
}

.infoText {
  margin: 0;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.showMore {
  color: white;
  position: absolute; /* Keep "Show More" button fixed relative to infoSection */
  bottom: 0; /* Slight padding from bottom */
  right: 0; /* Align to the right */
  background: "transparent";
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  transition: background 0.3s ease;
}

.showMore:hover {
  background: rgba(255, 255, 255, 0.9);
}
