.matchDetailsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to start to avoid centering issues */
  gap: 15px;
  padding: 80px 40px 0 40px; 
  position: relative;
  height:100vh; 
  overflow: hidden;
}
.teamNamesCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.team {
  display: flex;
  align-items: center;
  gap: 10px;
}

.teamHeader {
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  display: flex;
  align-items: center;
  gap: 10px;
}

.teamLogo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.teamName {
  color: white;
  font-size: 18px;
  font-weight: bold;
}


 
/* .matchHeading {
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    font-weight: bold; 
    color: #333;
    text-align: center;
    margin-bottom: 20px; 
    position: absolute;
    top: 10%; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 5; 
  }
  
   */
  .teamCard {
    flex: 1;
    max-width: 400px;
    max-height: 87vh; 
    overflow-y: scroll; 
    text-align: center;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
    /* Hide scrollbar but enable scrolling */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent; /* Hide scrollbar thumb and track */
  }
  
  .teamCard::-webkit-scrollbar {
    width: 8px;
  }
  
  .teamCard::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make scrollbar thumb invisible */
  }
  
  .teamCard::-webkit-scrollbar-track {
    background-color: transparent; /* Make scrollbar track invisible */
  }
  .matchDetailsCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 8%; /* Reduced percentage to move the card upward */
    left: 50%;
    transform: translate(-50%, -50%); /* Keep it centered horizontally, no vertical offset adjustment here */
    width: 500px;
    text-align: center;
    z-index: 50;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  

  .batsmanImg {
    position: fixed;
    left: 28.5%; /* Align to the center horizontally */
    transform: translateX(-80%); 
    transform: translateY(-19%); /* Adjust for exact center alignment */
    width:43vw; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    z-index: 0;
  }
  