.chatbot {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana;
  z-index: 700;
  position: fixed;
  bottom: 20px;
  right: calc(-40vw - 40px);  
  width: min(400px, calc(40vw + 20px));
  height: calc(75vh + 25px);
  margin-right: 20px; 
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
  transition: transform 0.3s ease-out; 
}
.close-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 0 5px;
}

.close-button:hover {
  opacity: 0.8;
}

.chatbot.open {
  transform: translateX(calc(-40vw - 25px));  
}

.chatbot .chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatbot .chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff0000;
  color: white;
  height: 90px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 7px;
}

.chatbot .chat-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.chatbot .chat-input {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.chatbot .chat-input input {
  flex-grow: .9;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: none;
}

.chatbot .chat-input button {
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chatbot .chat-input button:hover {
  background-color: #7f0505;
}

.chatbot .chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chatbot .chat-messages::-webkit-scrollbar-thumb {
  background-color: #7f0505;
  border-radius: 4px;
  border: 2px solid #fff;
}

.chatbot .chat-messages::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 4px;
}

.chatbot .chat-messages {
  scrollbar-color: #7f0505 #f4f4f4;
  scrollbar-width: thin;
}

.loading-dots {
  display: inline-block;
  font-size: 20px;
  animation: dots 1.5s infinite;
}

@keyframes dots {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
}
