.floating-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #b30707;
  color: white;
  border-radius: 50%;
  /* padding: 20px; */
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  height: 80px;
  width: 80px;
  z-index: 700;
}

.floating-button.hidden {
  display: none;
}

.floating-button:hover {
  background-color: hsl(7, 93%, 29%);
}

.floating-button img {
  max-height: 90px; 
  max-width: 90px;  
  object-fit: contain;
  padding-left: 6px;
  padding-top: 6px;
}

.pngchat {
  padding: 10px;
}
