.search-card {
  padding: 20px;
  color: black;
}

.search-bar {
  margin-bottom: 20px;
}

.teams-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}

.team-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-icon p {
  margin-top: 8px;
  font-size: 8px;
}
.fav-teams-title {
  font-size: 16px; /* Slightly larger font for readability */
  color: #4a90e2; /* Soft blue color for a friendly tone */
  margin-bottom: 15px; /* A little more spacing to separate from other elements */
  text-align: center; /* Center the text */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Friendly, modern font family */
  font-weight: 600; /* Slightly bolder text for emphasis */
  letter-spacing: 1px; /* Small spacing between letters for a more relaxed feel */
  line-height: 1.4; /* Slightly increased line height for better readability */
}

.selected-team-card {
  margin-top: 30%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.glass-overlay {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px) brightness(0.7);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.team-name-title {
  margin-top: 20px;
  font-size: 24px;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  text-align: center;
}

.no-teams-error {
  color: #d9534f; /* Bootstrap-style red for error */
  font-size: 0.6rem;
  padding: 2px;
  background-color: #f9e8e9; /* Light red background */
  text-align: center;
  border-radius: 5px;
  margin-top: 5px;
}
