/* PlayerCard.css */

/* Card container */
.card {
  max-width: 20vh;
  position: relative;
  word-wrap: break-word;
  font-size: 10px;
  height: 20vh;
}

/* Card media (image) */
.card-media {
  height: 70px;
  position: relative;
}

/* Overlay over the image */
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Avatar styling */
.avatar {
  position: absolute;
  bottom: -20px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid white;
}

/* Content container */
.card-content {
  text-align: left;
}

/* Name Typography */
.name-typography {
  font-size: 0.8rem;
  font-weight: 800;
}

/* Points Typography */
.points-typography {
  color: black;
  font-size: 0.6rem;
  line-height: 0.2rem;
}

/* Flex container for points and icons */
.points-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Icon button container */
.icon-buttons {
  display: flex;
  gap: 0.5rem;
}

/* Removing margin and padding for icon buttons */
.icon-button {
  margin: 0;
  padding: 0;
}
